#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.active {
  color: red;
  font-weight: bold;
}
ul.stops {
    text-align: left;
}
ul.stops li {
  cursor: pointer;
}
ul.stops li:hover {
  color: red;
}